:root {
    --white: white;
    --red: rgb(238, 103, 103);
    --black: black;
}

body {
    height: 100svh;
    background: var(--red);
}

#content {
    display: flex;
    flex-direction: column;
}

.name {
    color: var(--black);
    font-size: 50px;
    grid-area: 1/1/2/3;
}

.middle-top {
    display: flex;
}
